

#car {
    display: inline-block;
    width: 100px;
    position: absolute;
    left: 0px;
}
.tree {
    display: inline-block;
    width: 40px;
    position: absolute;
    left: 25%;
}
canvas {
    border:10px black solid;
}