body{
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  background-image: url("https://wallpaperaccess.com/full/4622710.png");
  background-size: cover;
  background-position: center;
}

button{
  text-align: center;
  margin: 0;
  background: gray;
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 25px;
}

button:hover{
  background: #4D4D4D;
}