#schaakbord {
    width: 476px;
    height:475px;
    border: 2px solid #000000;
    padding-left: 4px;
    padding-top: 4px;
}

.white { 
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    margin-top: -4px;
}

.grey {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: #777777;
    margin-left: -4px;
    margin-top: -4px;
}

img {
    width: 60px;
}